<mat-card class="example-card">
  <!--<div *ngFor="let post of post">
  <pre>
  <p>{{ post | json }}</p>
</pre>-->

<!--<div  *ngFor = "let obpost of posts | keyvalue">
  <div  *ngFor = "let user of obpost.value | keyvalue">
      <div  *ngFor = "let nestedpost of user.value | keyvalue">
           {{nestedpost.value}}
      </div>
  </div>
</div>-->
  <!--</div>-->
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" [src]="post.user.imageUrl">
    <mat-card-title>{{ post.user.firstname }} {{ post.user.lastname }}</mat-card-title>
    <mat-card-subtitle>{{ post.title }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="post.mediaUrl" alt="">
  <mat-card-content>
    <p>
      {{ post.content }}
    </p>
    
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="post.likes">{{ post.likes.length }}</div>
    <button mat-button (click)="onLike()">Like</button>
    <button mat-raised-button (click)="onBack()">Retour</button>
    <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="user_id === post.user_id">Supprimer</button>
  </mat-card-actions>

</mat-card>