<div class="container">
  <mat-card class="card">
  
  <h1>Connexion</h1>
<mat-spinner *ngIf="loading"></mat-spinner>
<form [formGroup]="loginForm" *ngIf="!loading">
    <mat-form-field appearance="fill" class="inputField">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email" required class="form-control" id="email" formControlName="email">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

  <div class="form-group">
    <mat-form-field appearance="fill" class="inputField">
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" class="form-control" id="password" formControlName="password" required>
    </mat-form-field>
  </div>

  <button class="btn" mat-raised-button [disabled]="loginForm.invalid" (click)="onLogin()">Se connecter</button>
  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
  <p class="signup">&ensp;<a routerLink="/signup">Inscription</a></p>
</form>
</mat-card>
</div>
