<a routerLink="/user-profile">Profil</a>

<mat-spinner *ngIf="loading"></mat-spinner>
<form [formGroup]="mediaForm" *ngIf="!loading">
  <div class="form-group">
    <label for="title">Titre</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="form-group">
    <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)">
    <button mat-raised-button color="primary" (click)="imageInput.click()">ADD IMAGE</button>
    <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;display:block;margin-top:10px">
    <label for="mediaUrl">Image</label>
    <input type="file" class="form-control" id="mediaUrl" formControlName="mediaUrl">
  </div>

  <button mat-raised-button color="primary" (click)="onMedia()">SUBMIT</button>
</form>

<form [formGroup]="messageForm" *ngIf="!loading">
  <div class="form-group">
    <label for="content">Titre</label>
    <input type="text" class="form-control" id="content" formControlName="content">
  </div>
  <button mat-raised-button color="primary" (click)="onMessage()">SUBMIT</button>
</form> 

<ol>
  <li>
    <mat-form-field>
      <mat-label>What's your name?</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>