
<div class="profileUpdate">
  <div class="head">
    <h1>Modifiez votre profil</h1>
    <button mat-button (click)="goBackProfile()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <form *ngIf="updateForm && !loading" [formGroup]="updateForm">
    <div class="form-group">
      <div class="txtProfile">
        <p><span class="infos">Prénom: </span>{{ user.firstname }}</p>
        <mat-form-field appearance="fill">
          <mat-label>{{ user.firstname }}</mat-label>
          <input matInput type="firstname" class="form-control" id="firstname" formControlName="firstname" required>
        </mat-form-field>

        <p><span class="infos">Nom: </span>{{ user.lastname }}</p>
        <mat-form-field appearance="fill">
          <mat-label>{{ user.lastname }}</mat-label>
          <input matInput type="lastname" class="form-control" id="lastname" formControlName="lastname" required>
        </mat-form-field>

        <p><span class="infos">Email: </span>{{ user.email }}</p>
        <mat-form-field appearance="fill">
          <mat-label>{{ user.email }}</mat-label>
          <input matInput placeholder="{{ user.email }}" [formControl]="email" type="email" class="form-control"
            id="email" formControlName="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="imgProfile">
          <p><span class="infos">Image: </span></p>
          <div class="imgUpdate">
            <img [src]=" user.imageUrl" alt="Photo de profil de {{ user?.firstname }} {{ user?.lastname }}"
              *ngIf="!imagePreview">
            <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 200px;display:block;margin-top:10px">
            <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)">
            <button mat-raised-button color="primary" (click)="imageInput.click()">Ajouter une image</button>
          </div>
      </div>
    </div>
  </form>
  <button mat-raised-button [disabled]="updateForm.invalid" (click)="onUpdate()">Éditer mon profil</button>
  <div class="security">
    <h1 class="head">Modification du mot de passe</h1>
    <form [formGroup]="passwordForm" class="password">
      <h2 class="infos">Nouveau mot de passe</h2>
      <div class="inputField">
        <mat-form-field appearance="fill" class="pwd">
          <mat-label>Mot de passe</mat-label>
          <input matInput placeholder="Mot de passe" type="password" class="form-control" id="password"
            formControlName="password" required>
          <mat-error *ngIf="passwordForm.hasError('required', 'password')">
            Entrez votre nouveau mot de passe
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="confirm pwd">
          <mat-label>Confirmez mot de passe</mat-label>
          <input matInput placeholder="Mot de passe" type="password" class="form-control"
            formControlName="confirmPassword" [errorStateMatcher]="matcher" required>
          <mat-error *ngIf="passwordForm.hasError('notSame')">
            Les mots de passes ne correspondent pas
          </mat-error>
        </mat-form-field>
      </div>
      <p class="pwdInvalid" *ngIf="errorMsg">{{ errorMsg }}</p>
      <button mat-raised-button [disabled]="passwordForm.invalid" (click)="onUpdatePassword()">Éditer mon mot de
        passe</button>
    </form>
    <h2 class="infos" id="deleteAccount">Supprimer votre compte</h2>
    <button mat-raised-button color="warn" (click)="openDeleteDialog()">Supprimer votre profil</button>
  </div>
</div>

