h1 {
  max-width: 600px;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
}

.center {
  margin-top: 50px;
}

.confirm {
  margin-left: 30px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.loginLink{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.inputField {
  display: flex;
  flex-direction: column;
  .confirm{
      margin: 0;
  }
}
.mat-form-field{
  width: 100%;
}

.pwdInvalid {
  margin-bottom: 10px;
}